<ion-header [translucent]="true">
  <ion-toolbar  color="toolbar-malla">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Malla General</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  scrollX="true"
  scrollY="true"
  [fullscreen]="true"
  [scrollEvents]="true"
  color="cuerpo-malla"
>
  <ion-grid>
    <ion-segment [scrollable]="true">
      <ion-col *ngFor="let semestre of semestres;let i=index">
        <ion-card color="contenedor-materias">
          <ion-card-header>
            <ion-card-title>{{semestre.nombreSemestre}}</ion-card-title>
          </ion-card-header>
          <app-materia-estudiante
            [idSemestre]="semestre.idSemestre"
            [idMalla]="semestre.idMalla"
            [idEstudiante]="idEstudiante"            
          ></app-materia-estudiante>
        </ion-card>
      </ion-col>
    </ion-segment>
  </ion-grid>
</ion-content>
