<ion-toolbar>
  <ion-title>Asignacion</ion-title>
</ion-toolbar>
<ion-content>
  <ion-list *ngFor="let materia of listMaterias; let indexOfelement = index">
    <ion-item>
      <ion-label>
        {{ materia.nombreMateria }}
      </ion-label>
      <ion-label slot="end">
       COSTO: {{materia.costo}}
      </ion-label>
      <ion-icon
        class="delete"
        name="trash-outline"
        slot="end"
        (click)="del(indexOfelement, materia.costo)"
      ></ion-icon>
    </ion-item>
  </ion-list>
  <ion-label>TOTAL A CANCELAR {{total}}</ion-label>
  <ion-button (click)="asignar()"> Asignar</ion-button>
</ion-content>
