ion-badge {
  position: absolute;
  width: 25px;
  margin-left: 10%;
  margin-bottom: 25px;
  z-index: 1;
  background-color: red;
  border-radius: 100%;
}

.guia{
  display: inline;
  margin: 10px;
  
}
.icon-asignacion {
  position: absolute;
  
  margin-top: 10px;
  cursor: pointer;
}
.contenedor-asignacion {
  margin-left: 50%;
  width: 200px;
  position: relative;
}
.icon-perfil {
  position: absolute;
  margin-left: 70%;
  margin-top: 10px;
  cursor: pointer;
}
.titulo {
  margin-top: 10px;
  position: absolute;
}
.icon-salida {
  position: absolute;
  margin-left: 85%;
  margin-top: 10px;
  cursor: pointer;
}
.contenedor {
  position: relative;
  
  height: 45px;
  width: 100%;
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

ion-content {
  &::-webkit-scrollbar {
    display: none;
  }
}
ion-content {
  width: calc(100% + 15px);
  //--background: #00761F;
}
ion-content::part(scroll) {
  padding-right: 0px;
}
.colorAprobado {
  height: 10px;
  --background: #39f362;
}
.colorReprobado {
  height: 10px;
  --background: #eb445a;
}
.colorDisponible {
  height: 10px;
  --background: #3880ff;
}
.colorRequisitos {
  height: 10px;
  --background: white;
}
.colorCursando {
  height: 10px;
  --background: #ffeb3b;
}

.cardCrusando {
  display: flex;
}
.cursando {
  display: inline;
}
.cod {
  width: auto;
}

.card{
  display: block;
  width: auto;
}
.conte {
  width: auto;
  background-color: #AFEFFE;
  border:10px solid #a5a5a5;
  box-shadow: 0 10px 25px 2px black;
}
@media (max-width: 900px) {
  /* smartphones, Android phones, landscape iPhone */
  .conte{
    width: 150%;
  }
  .card{
    display: block;
    width: auto
  }
}
@media (max-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  .conte{ 
    width: 500%;
  }
  .card{
    display: block;
    width: 300%;
  }
}
.prueba {
  margin: 1px 1px 1px 1px;
  border:5px solid #a5a5a5;
}
ion-grid {
  --ion-grid-width: auto;

  --ion-grid-width-xs: auto;
  --ion-grid-width-sm: auto;
  --ion-grid-width-md: auto;
  --ion-grid-width-lg: auto;
  --ion-grid-width-xl: auto;
}
