<ion-app>
  <app-menu
  [habilitado]="banderaListo"
    [idMalla]="idMalla"
    [idUsuario]="idUser"
    [rol]="rol"
    [idDecano]="idDecano"
    [idEstudiante]="idEstudiante"
    
  ></app-menu>

  <div class="ion-page" id="main-content">
    <ion-header [translucent]="true">
      <ion-toolbar color="toolbar-malla">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="contenedor">
          <ion-title class="titulo">INICIO</ion-title>

          <div class="contenedor-asignacion" *ngIf="cantidadAsignacion!=0">
            <ion-icon
              size="large"
              name="book-outline"
              (click)="abrirAsignacion()"
              class="icon-asignacion"
            ></ion-icon>
            <ion-badge>{{cantidadAsignacion}}</ion-badge>
          </div>
          <ion-icon
            name="person-circle-sharp"
            class="icon-perfil"
            size="large"
            (click)="perfil()"
          ></ion-icon>
          <ion-icon
            name="log-in-outline"
            class="icon-salida"
            size="large"
            (click)="sign_out()"
          ></ion-icon>
        </div>
      </ion-toolbar>
    </ion-header>
    <app-estudiante
      [modal]="abrirModal()"
      [idUser]="idUser"
      [rol]="rol"
    ></app-estudiante>
    <ion-content
      [fullscreen]="true"
      scrollX="true"
      scrollY="true"
      [fullscreen]="true"
      [scrollEvents]="true"
    >
      <ion-card color="secondary" class="card">
        <ion-card-content>
          <ion-card-subtitle
            >APROBADO <ion-chip class="colorAprobado"></ion-chip
          ></ion-card-subtitle>
          <ion-card-subtitle
            >REPROBADO<ion-chip class="colorReprobado"></ion-chip
          ></ion-card-subtitle>
          <ion-card-subtitle
            >DISPONIBLE<ion-chip class="colorDisponible"></ion-chip
          ></ion-card-subtitle>
          <ion-card-subtitle
            >CURSANDO<ion-chip class="colorCursando"></ion-chip
          ></ion-card-subtitle>
          <ion-card-subtitle
            >REQUISITOS<ion-chip class="colorRequisitos"></ion-chip
          ></ion-card-subtitle>
        </ion-card-content>
      </ion-card>
      <ion-segment [scrollable]="true">
        <ion-row>
          <ion-col>
            <ion-card color="primary">
              <ion-card-content>
                <ion-card-title>MATERIAS DISPONIBLES</ion-card-title>
                <app-materia-disponible                
                  [idUsuario]="idUser"
                  [rol]="rol"
                  [idEstudiante]="idEstudiante"
                  
                ></app-materia-disponible>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card color="cuerpo-malla">
              <ion-card-content>
                <ion-card-title>MATERIAS CURSANDO</ion-card-title>
                <app-materia-cursando                  
                  [rol]="rol"
                  [idUsuario]="idUser"
                ></app-materia-cursando>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-segment>
    </ion-content>
  </div>
</ion-app>
