ion-badge {
  position: absolute;
  width: 25px;
  margin-left: 10%;
  margin-bottom: 25px;
  z-index: 1;
  background-color: red;
  border-radius: 100%;
}
.icon-asignacion {
  position: absolute;
  
  margin-top: 10px;
  cursor: pointer;
}
.contenedor-asignacion{
  margin-left: 50%;
  width: 200px;
  position: relative;
}
.icon-perfil {
  position: absolute;
  margin-left: 70%;
  margin-top: 10px;
  cursor: pointer;
}
.titulo{
  margin-top: 10px;
  position: absolute;
}
.icon-salida{
  position: absolute;
  margin-left: 85%;
  margin-top: 10px;
  cursor: pointer;
}
.contenedor {
  position: relative;
  
  height: 45px;
  width: 100%;
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

ion-content {
  &::-webkit-scrollbar {
    display: none;
  }
}
ion-content {
  width: calc(100% + 15px);
}
ion-content::part(scroll) {
  padding-right: 0px;
}
.colorAprobado {
  height: 10px;
  --background: #39f362;
}
.colorReprobado {
  height: 10px;
  --background: #eb445a;
}
.colorDisponible {
  height: 10px;
  --background: #3880ff;
}
.colorRequisitos {
  
  height: 10px;
  --background: white;
}
.colorCursando {
  height: 10px;
  --background: #ffeb3b;
}


