<ion-content [fullscreen]="true" color="cuerpologin">
  <!-- <ion-button mode="md" class="BotonLogin" id="open-modal" expand="block"
      >Login</ion-button
    >

    <ion-button
      mode="md"
      class="BotonRegistro"
      id="open-modal-registro"
      expand="block"
      >Registro</ion-button
    > -->

  <app-registro></app-registro>
  <ion-card class="cardlogin" color="colorlogincard">
    <ion-img
      class="img"
      src="../../../assets/logoUnandesSinFondo.png"
    ></ion-img>
    <form [formGroup]="formularioLogin">
      <div class="cont">
        <br />
        <ion-label color="dark">Nombre</ion-label>
        <ion-input
          class="prueba"
          mode="ios"
          formControlName="usuario"
        ></ion-input>
        
        <ion-label color="dark">Contraseña</ion-label>
        <ion-input
          class="prueba"
          mode="ios"
          type="password"
          formControlName="password"
        ></ion-input>
        <br />

        <ion-button
          color="toolbar-malla"
          mode="md"
          class="btnIngresar"
          (click)="ingresar()"
          
          >Ingresar</ion-button
        >
        <br />

        <ion-button
          color="toolbar-malla"
          mode="md"
          class="BotonRegistro"
          id="open-modal-registro"
          expand="block"
          
          >Registrate</ion-button
        >
        <br>
        <br>
        <br>
        
        <p color="dark" class="txt">¿No tienes login?</p>
      </div>
    </form>
  </ion-card>

  <!-- <ion-card>
    <ion-card-content>
      <ion-input label="Usuario" label-placement="floating" fill="outline"></ion-input>
      <br>
      <ion-input label="Password" label-placement="floating" fill="outline"></ion-input>
    </ion-card-content>
  </ion-card> -->
</ion-content>
