<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="toolbar-malla">
        
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>
          <h1>MALLA</h1>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="content">
      <ion-card *ngFor="let item of semestres" class="semestre" (click)="materia(item)">
        <ion-card-header>
          <ion-card-title>{{item.nombreSemestre}}</ion-card-title>
        </ion-card-header>
      </ion-card>      
    </ion-content>
  </div>
</ion-app>