<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="toolbar-malla">

      <ion-title>Menu</ion-title>
  
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" *ngIf="rol==usuario">
    <ion-item class="menu_home" (click)="inicio()">
      <ion-icon class="icono_libre" slot="end" size="medium" name="home-outline" color="danger"></ion-icon>
      <h2 class="menu">Inicio</h2>

    </ion-item>
    <ion-item class="menu_boton" (click)="malla()">

      <ion-icon class="icono_libre" slot="end" size="medium" name="library-outline"></ion-icon>
      <h2 class="menu">Asignacion de materia</h2>

    </ion-item>
    <ion-item class="menu_boton" (click)="mallaGeneral()">

      <ion-icon class="icono_libre" slot="end" size="medium" name="library-outline"></ion-icon>
      <h2 class="menu">Malla</h2>

    </ion-item>
  
    <ion-item class="menu_boton" (click)="mallaEstudiante()">

      <ion-icon class="icono_libre" slot="end" size="medium" name="library-outline"></ion-icon>
      <h2 class="menu">Materias</h2>

    </ion-item>
  </ion-content>
  <ion-content class="ion-padding" *ngIf="rol==Admin" >
    <ion-item class="menu_home" (click)="inicio()">
      <ion-icon class="icono_libre" slot="end" size="medium" name="home-outline" color="danger"></ion-icon>
      <h2 class="menu">Inicio</h2>

    </ion-item>
    <ion-item class="menu_boton" (click)="addCarrera()">
      <ion-icon class="icono_libre" slot="end" size="medium" name="library-outline"></ion-icon>
      <h2 class="menu">Añadir Carrera</h2>

    </ion-item>
  
  </ion-content>
</ion-menu>